html, body, pre, code, kbd, samp {
  font-family: sans-serif;
}

body {
  background: #20262E;
  padding: 20px;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li {
  /*margin: 8px 0;
  */
  background: #ff9999;
  padding: 20px;
}

ul li {
  background: #ffe5e5;
  margin: 5px;
}

del {
  color: rgba(0, 0, 0, 0.3);
}

.padding {
  padding: 1px 7px 2px;
}

.flex {
  display: flex;
}

.space {
  flex-grow: 1;
}

h1, h2 {
  text-align: center;
  color: red;
}
