<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" href="index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
  <h1>TO DO LIST</h1>
  <h2><input type="text" class="nes-input" placeholder="what needs to be done" v-on:keyup.enter="addTodo"> </h2>    
    
  <ul>
    <li v-for="todo in todos" :key="todo.id" class="flex">
      <label>
        <input type="checkbox" class="nes-checkbox" v-model="todo.done">
        <span>&nbsp</span>
      </label>
      <del v-if="todo.done">{{ todo.text }}</del>
      <span v-else>{{ todo.text }}</span>
      <div class="space"></div>
      <button class="nes-btn is-error padding" v-on:click="removeTodo(todo.id)">X</button>
    </li>
  </ul>

  <center>
  <button v-on:click="swapToCompleted">Completed</button>
  <button v-on:click="swapToActive">Active</button>
</div>


<script src="index.js"></script> 

</body>
</html>
